.logo {
    color: #fff;
}

.headerLinks a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.postCardBox {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.postCardLink {
}

.postCard {
    position: relative;
    z-index: 1;
    width: 32%;
    margin: 0 0 40px;
    background: #616060;
    box-shadow: 0px 5px 12px -4px #2e2d2d;
    text-decoration: none;
    transition: all .3s ease; 
    padding: 20px;
    cursor: pointer;
}

.postCard:hover {
    box-shadow: none;
}

.postTitle {
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: normal;
}

.postDate {
    margin-bottom: 10px;
    font-size: .8em;
    display: flex;
    align-items: center;
}

.postDate i {
    font-size: 1em;
    margin-right: 3px;
}

.postContent {
    font-size: 1em;
}

.loginBox {
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageTitle {
    text-align: center;
}

.logoutButton {
    width: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}