.logo {
    color: #fff;
}

.headerLinks a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

.postCardBox {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.postCardLink {
    box-shadow: 0px 5px 12px -4px #2e2d2d;
    cursor: pointer;
    display: block;
    width: 32%;
    margin-bottom: 20px;
}

.postCardLink:hover {
    box-shadow: none;
}

.postCard {
    position: relative;
    z-index: 1;
    background: #616060;
    text-decoration: none;
    transition: all .3s ease; 
    padding: 20px;
}


.postTitle {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: normal;
}

.postDate {
    margin-bottom: 10px;
    font-size: .8em;
    display: flex;
    align-items: center;
}

.postDate i {
    font-size: 1em;
    margin-right: 3px;
}

.postContent {
    font-size: 1em;
}

.loginBox, .createBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageTitle {
    text-align: center;
    margin: 50px 0 30px;
}

.logoutButton {
    width: 100px;
    margin-left: 30px;
}

